
body	{ 
margin: 0px 0px 0px 0px; 
/*background-color: #bbf9ff;
background-image: url(../images/adio_login_bg.jpg); background-repeat: repeat-x; */
font-size:10px; font-family : Arial, Helvetica, Verdana, sans-serif; 
letter-spacing: 0px; color: #000000 } 




.mainText { color: #333333; text-align: left; font-size: 12px; font-family : Arial, Geneva, Verdana, Helvetica, sans-serif; }



