
body	{ 
margin: 0px 0px 0px 0px; 
/*background-color: #bbf9ff; */
background-image: url(../images/adio_login_bg.jpg); background-repeat: repeat-x;
font-size:10px; font-family : Arial, Helvetica, Verdana, sans-serif; 
padding-bottom: 3px; letter-spacing: 0px; color: #000000 } 

/*a { text-decoration: none; color: #0070C0; font-size: 12px; padding-bottom: 6px;}
a:hover { color: #F79646; font-size: 12px; padding-bottom: 10px;}*/

.linkTitle a:link { text-decoration: none; color: #ff6600; font-family : Arial, Geneva, Verdana, Helvetica, sans-serif; font-size: 12px;  padding-bottom: 20px;}
.linkTitle a:hover { color: #ff3300; font-family : Arial, Geneva, Verdana, Helvetica, sans-serif; font-size: 12px;}
.linkTitle { color: #333333; font-size: 12px; font-family : Arial, Geneva, Verdana, Helvetica, sans-serif;}



.mainText { color: #333333; text-align: Justify; font-size: 12px; line-height: 1.5; font-family : Arial, Geneva, Verdana, Helvetica, sans-serif; line-height: 1.5; }

.bottomText { color: #ffffff; text-align: Right; font-size: 11px; font-family : Arial, Geneva, Verdana, Helvetica, sans-serif;}


.bottomMenu a:link { color: #6F8CA1; text-align: left; font-size: 11px; font-family : Arial, Geneva, Verdana, Helvetica, sans-serif; }
.bottomMenu a:hover { color: #F79646; text-align: left; font-size: 11px; font-family : Arial, Geneva, Verdana, Helvetica, sans-serif; }
